
<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title">FOURIER</h2>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <canvas id="fourierCanvas"  height="512"></canvas>
            </div>
            <div class="col-md-4">
                <span>
                    Frecuencia 
                </span>
                <input ng-model="inEdit.fourier.frequency" type="range" min="-4" max="-2.5" value="-3.5" step="0.001">
            </div>
            <div class="col-md-2">                
                <div class="form-group">
                    <span>Amplitud</span>
                    <select                                                             
                        class="form-control" required                        
                        tabindex="2" aria-hidden="true" 
                        ng-model="inEdit.fourier.amplitud"                         
                        ng-options="_amplitud.value as _amplitud.label for _amplitud in lista.amplitudes">
                    </select> 
                </div>
            </div>
            <div class="col-md-2">                
                <div class="form-group">
                    <span>Armonicos</span>
                    <select                                                             
                        class="form-control" required                        
                        tabindex="2" aria-hidden="true" 
                        ng-model="inEdit.fourier.armonicos"                         
                        ng-options="_armonico.nro as _armonico.label for _armonico in lista.armonicos">
                    </select> 
                </div>
            </div>
            <div class="col-md-4" >
                <span>Forma de la señal</span>
                 <form id="waveform"
                       class="form-group">
                    <div class="checkbox">
                      <label>
                            <input type="radio" name="waveform" value="square" checked>
                            Señal Cuadrada                    
                      </label>
                    </div>

                    <div class="checkbox">
                      <label>

                        <input type="radio" name="waveform" value="sawtooth">
                        Señal de dientes de sierra

                      </label>
                    </div>              
                </form>

            </div>   
        </div>
    </div>
    <!--
    <div class="box-footer"    >
        <p>
            Se puede demostrar, usando el análisis de Fourier, que cualquier señal está constituida por com-
            ponentes sinusoidales de distintas frecuencias. Sumando un número suficiente de señales sinusoida-
            les, cada una con su correspondiente amplitud, frecuencia y fase, se puede construir cualquier señal
            electromagnética. En otras palabras, se puede demostrar cualquier señal electromagnética que está
            constituida por una colección de señales periódicas analógicas (ondas seno) con diferentes amplitudes,
            frecuencias y fases.
        </p>
    </div>
    -->
</div>