<!--
    Encabersado
    @author Pablo N. Garcia Solanellas
    @date: 2020 may
-->    
<section class="sidebar" >
    <!-- Sidebar user panel -->
    <div class="user-panel" style="min-height: 45px;">        
        <p class="hide text-white text-center">GRUPO 3 Comunicaiones</p>                
    </div>              
    <!-- sidebar menu: : style can be found in sidebar.less -->        
    <ul class="sidebar-menu">

        <li class="treeview active">
            <a href="">
                <i class="fa fa-flask"></i>
                <span>Laboratorios</span>             
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#/seniales">
                        <!--<i class="fa fa-warning text-warning"></i>-->
                        <i class="fa fa-check text-green"></i>
                        Señales                    
                    </a>
                </li>
                <li>
                    <a href="#/fourier">
                        <!--<i class="fa fa-warning text-warning"></i>-->
                        <i class="fa fa-check text-green"></i>
                        Fourier                    
                    </a>
                </li>

            </ul>
        </li>  
        <li>
            <a href="#/about">
                <!--<i class="fa fa-warning text-warning"></i>-->
                <i class="fa fa-asterisk"></i>
                <span>Acerca</span>
            </a>
        </li>

    </ul>  
</section>
<!-- /.sidebar -->

