<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="box box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail" 
                             alt="Universidad Nacional del Nordeste, UNNE" style="position: relative;"
                             src="assets/images/unne.jpg" />
                    </div>
                    <div class="col-md-8 text-center">
                        <h3>Universidad Nacional del Nordeste</h3>
                        <br/>
                        <h3>Facultad de Ciencias Exactas y Naturales y Agrimensura</h3>
                    </div>
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail"
                             alt="FaCeNa, Facultad de Ciencias Exactas y Naturales y Agrimensura " style="position: relative;"
                             src="assets/images/facena.jpg" />
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 text-center ">
                        <h4 class="text-bold">Cátedra: Comunicaciones de Datos</h4>                        
                        <h4 class="text-bold">Año: 2020</h4>                        
                        <h4 class="text-bold">Laboratorio 1</h4>                        
                        <h4 class="text-bold">Tema: “Señales y Espectros”</h4>                  
                    </div>
                    <div class="col-md-8 col-md-offset-2 table-responsive">
                        <h4 class="text-center">Profesores</h4>                        
                        <table class="table table-bordered">
                            
                            <thead>
                                <tr>
                                    <td>
                                        Nombre
                                    </td>
                                    <td>
                                        Cargo
                                    </td>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="https://www.linkedin.com/in/carlos-primorac-01253227/"
                                           target="_blank">
                                            <img  height="20"
                                                alt="Garcia Solanellas, Pablo N. Linkedin"
                                                src="assets/images/in.png" />
                                            <span>
                                                Primorac, Carlos
                                            </span>                                                
                                        </a>                                        
                                    </td>
                                    <td>
                                        Auxiliar de Primera
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>
                        
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-md-8 col-md-offset-2 table-responsive">
                        <h4 class="text-center">Grupo 3, Integrantes: </h4>                        
                        <table class="table table-bordered">                            
                            <thead>
                                <tr>
                                    <td>
                                        Nombre
                                    </td>                                    
                                    <td>
                                        *
                                    </td>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr>
                                    <td>                                        
                                        <span>
                                            Fernández, César Alejandro
                                        </span>                                                
                                    </td>
                                    <td>Alumno</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://www.linkedin.com/in/pablo-n-garc%C3%ADa-solanellas-9207774a/"
                                           target="_blank">
                                            <img  height="20"
                                                alt="Garcia Solanellas, Pablo N. Linkedin"
                                                src="assets/images/in.png" />
                                            <span>
                                                Garcia Solanellas, Pablo N.
                                            </span>                                                
                                        </a>                                        
                                    </td>
                                    <td>Alumno</td>
                                </tr>
                                <tr>
                                    <td>                                        
                                        
                                        <span>
                                            Merlo, Verónica Soledad
                                        </span>                                                
                                        
                                    </td>
                                    <td>Alumno</td>
                                </tr>
                                <tr>                                    
                                    <td>                                        
                                        <a href="https://www.linkedin.com/mwlite/in/maria-antonella-poletti-02b2a3188"
                                           target="_blank">
                                            <img  height="20"
                                                alt="Poletti, Maria Antonella Linkedin"
                                                src="assets/images/in.png" />
                                            <span>
                                                Poletti, Maria Antonella
                                            </span>                                                
                                        </a>                                        
                                    </td>          
                                    <td>Alumno</td>
                                </tr>
                                <tr>
                                    <td>                                        
                                       
                                            <span>
                                                Sena, Nicolas Ariel
                                            </span>                                                
                                       
                                    </td>          
                                    <td>Alumno</td>
                                </tr>
                            </tbody>                            
                        </table>
                        
                    </div>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>