<!--
    Encabesado
    @author Pablo N. Garcia Solanellas
    @date: 2020 may
-->
<!-- Logo -->
<a href="#/about" class="logo hidden-xs ">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b><i class="fa fa-connectdevelop"></i></b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b><i class="fa fa-connectdevelop"></i> </b>CD</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    
    <!-- Sidebar toggle button-->
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span title="Laboratorio de Comunicaciones de Datos 2020"
            class="hidden-sm  hidden-xs">
            Comunicaiones de Datos
        </span>
        <span title="Laboratorio de Comunicaciones de Datos 2020"
            class="hidden-md  hidden-lg">
            CD
        </span>
    </a>            
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">          
            <li>
                <a title="Acerca del la herramienta"
                    href="#/about">
                    <!--<i class="fa fa-warning text-warning"></i>-->
                    <i class="fa fa-asterisk"></i>
                    <span class="hidden-sm  hidden-xs">
                        Acerca                 
                    </span>
                </a>
            </li>
            <li >
                <a href="#/seniales">
                    <!--<i class="fa fa-warning text-warning"></i>-->
                    <i class="fa fa-forumbee"></i>
                    <span class="hidden-sm  hidden-xs">
                        Señales                        
                    </span>
                    
                </a>          
            </li>
            <li >
                <a href="#/fourier">
                    <!--<i class="fa fa-warning text-warning"></i>-->
                    <i class="fa  fa-google-wallet"></i>
                    <span class="hidden-sm hidden-xs">
                        Fourier                        
                    </span>                    
                </a>
            </li>
             <li >
                 <a title="Codigo fuente"
                     href="https://gitlab.com/facena_unne/cd_lab1_sye" target="_blank">
                    <!--<i class="fa fa-warning text-warning"></i>-->
                    <i class="fa fa-git text-orange"></i>
                                     
                </a>
            </li>
        </ul>
    </div>
    
</nav>
