<!--
    Historial de cambios en la señal.
    @author Pablo N. Garcia Solanellas
    @date: 2020 may
-->
<div class="box box-info">
    <div class="box-header">
        <h2 class="box-title">
            Historial de cambios en la señal
        </h2>
        <div class="box-tools">
            <button 
                title=""
                ng-click="clearmultiplesSeniles();"
                class="btn btn-default pull-right">
                <i class="fa fa-eraser"></i>
                Limpiar
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="chart-responsive" style="padding-right: 15px;">
            <canvas  class="chart" id="multiplesSeniles" /></canvas>
        </div>
    </div> 
</div>

