<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title">Señales </h2>
        <span class="lable label-info">
            <br/>
            Grafico de la funcion seno. 
            <br/>
        </span>
        <small>            
            La onda seno es una de las señales periódicas por antonomasia. Una onda seno genérica se representa mediante tres parámetros: la amplitud (A), la frecuencia (f) y la fase ( h )[1].
        </small>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-2">                
                <div class="form-group">
                    <span>Amplitud</span>                    
                    <select                                                             
                        class="form-control" required                        
                        tabindex="2" aria-hidden="true" 
                        ng-model="inEdit.seniales.amplitud"                         
                        ng-options="_amplitud.nro as _amplitud.label for _amplitud in inner.amplitudes">
                    </select> 
                </div>
            </div>
            <div class="col-md-2">                
                <div class="form-group">
                    <span>Fase</span>                    
                    <select                                                             
                        class="form-control" required                        
                        tabindex="2" aria-hidden="true" 
                        ng-model="inEdit.seniales.fase"                         
                        ng-options="_fase.nro as _fase.label for _fase in inner.fases">
                    </select> 
                </div>
            </div>
            <div class="col-md-2">                
                <div class="form-group">
                    <span>Frecuencia</span>                    
                     <select                                                             
                        class="form-control" required                        
                        tabindex="2" aria-hidden="true" 
                        ng-model="inEdit.seniales.frecuencia"                         
                        ng-options="_frecuencia.nro as _frecuencia.label for _frecuencia in inner.frecuencias">
                    </select> 
                </div>
            </div>
            <div class="col-md-6">
                <span>
                    <br/>
                </span>
                <button class="btn btn-success btn-flat"                    
                    ng-click="runAudio();">
                    <span >
                        <i class="fa  fa-file-sound-o"></i>
                        Escuchar la señal (audio de 2 seg)
                    </span>              
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">                              
                <div class="row">
                    <div ng-include="'app/seniales/movimiento.html?c=TIME_STAMP_JS_FILE_HERE'" 
                        class="col-md-12">
                        
                    </div>
                </div>
            </div>            
            <div class="col-md-6">                              
                <div class="row">
                    <div ng-include="'app/seniales/historial.html?c=TIME_STAMP_JS_FILE_HERE'" 
                        class="col-md-12">
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="box-footer">
        <p>
            <strong>[1]</strong> 
            W. Stallings. Comunicaciones y Redes de Computadoras, 7ma. Edición Prentice Hall, Madrid, 2004, p.60.
        </p>
    </div>
</div>