<!--
    Señal en movimiento
    @author Pablo N. Garcia Solanellas
    @date: 2020 may
-->
<div class="box box-warning">
    <div class="box-header">
        <h2 class="box-title">
            Señal en movimiento
        </h2>
        <div class="box-tools">
            <button class="btn btn-default btn-flat"                    
                ng-click="startStop();">
                <span ng-show="animationOn">
                    <i class="fa fa-stop"></i>
                    Para señal                
                </span>
                <span ng-show="!animationOn">
                    <i class="fa fa-play"></i>
                    Reinicar
                </span>                
            </button>           
        </div>
    </div>
    <div class="box-body">
        
        <div class="chart-responsive" style="padding-right: 15px;">
            <canvas id="senial"  class="chart" ></canvas>    
        </div>
    </div> 
</div>

